body {
    width: 100%;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.passwr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
form {
 flex-direction: column;
 display: flex;
 justify-items: center;
}
input {
    width: 500px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border-color: blue;
    box-shadow: 0 3px 3px 0 goldenrod;
}
label {
    font-size: 2rem;
    font-weight: 300;
}
h1 {
    color: blue;
    font-size: 3rem;
}
button {
    margin: 10px;
    padding: 10px;
    font-size: larger;
    font-weight: 700;
}
@media (max-width: 769px) {
    body {
        background-color: black;
        font-size: medium;
        font-weight: 100;
    }
    label {
        color: greenyellow;
        margin: 10px;
        font-size: x-large;
    }
    h1 {
        color: aliceblue;
        font-size: xx-large;
    }
    input {
        width: 300px;
        height: 20px;
        padding: 10px;
    }
    
}